@import url("tailwindcss");
@import url("tw-animate-css");
@import url("shadcn/tailwind.css");

@custom-variant dark (&:is(.dark *));

:root {
  --font-sans: var(--font-funnel), ui-sans-serif, system-ui;
  --font-display: var(--font-khand), sans-serif;
  --font-mono: 'Fira Code', monospace;
  --background: oklch(98% 0 0deg);
  --foreground: oklch(27% 0.09 254.40deg);
  --card: oklch(100% 0.0001 271.152deg);
  --card-foreground: oklch(27% 0.09 254.40deg);
  --popover: oklch(1% 0 0deg);
  --popover-foreground: oklch(27% 0.09 254.40deg);
  --primary: oklch(27% 0.09 254.40deg);
  --primary-foreground: oklch(98% 0 0deg);
  --secondary: oklch(78% 0.11 195.12deg);
  --secondary-foreground: oklch(27% 0.09 254.40deg);
  --muted: oklch(96% 0 0deg);
  --muted-foreground: oklch(27% 0.09 254.40deg);
  --accent: oklch(78% 0.11 195.12deg);
  --accent-foreground: oklch(1% 0 0deg);
  --border: oklch(27% 0.09 254.40deg);
  --input: oklch(27% 0.09 254.40deg);
  /* States */
  --destructive: oklch(55% 0.21 31.81deg);
  --destructive-foreground: oklch(83% 0.04 220deg);
  --info: oklch(83% 0.04 220deg);
  --info-foreground: oklch(27% 0.09 254.40deg);
  --success: oklch(65% 0.12 219.43deg);
  --success-foreground: oklch(84% 0.14 85deg);
  --warning: oklch(55% 0.21 31.81deg);
  --warning-foreground: oklch(84% 0.14 85deg);
  --ring: oklch(78% 0.11 195.12deg);
  /* Charts */
  --chart-1: oklch(52% 0.10 230.09deg);
  --chart-2: oklch(65% 0.12 219.43deg);
  --chart-3: oklch(78% 0.11 195.12deg);
  --chart-4: oklch(83% 0.04 220deg);
  --chart-5: oklch(84% 0.14 85.21deg);
  --chart-6: oklch(66% 0.18 44.85deg);
  --chart-7: oklch(55% 0.21 32deg);
  --chart-8: oklch(45% 0.14 340deg);
  /* REVREBEL */
  --primary-inverse: oklch(83% 0.04 220deg);
  --color-1: oklch(52% 0.10 230.09deg);
  --color-1-fade: color-mix(in srgb, var(--color-1) 80%, white 20%);
  --color-1-inverse-fade: color-mix(in srgb, var(--color-1-inverse) 90%, black 10%);
  --color-1-inverse: oklch(96% 0.01 210deg);
  --color-2: oklch(78% 0.11 195.12deg);
  --color-2-fade: color-mix(in srgb, var(--color-2) 80%, white 20%);
  --color-2-inverse: oklch(84% 0.14 85.21deg);
  --color-2-inverse-fade: color-mix(in srgb, var(--color-2-inverse) 80%, white 20%);
  --color-3: oklch(78% 0.11 195.12deg);
  --color-3-fade: color-mix(in srgb, var(--color-3) 80%, white 20%);
  --color-3-inverse: oklch(45% 0.14 340deg);
  --color-3-inverse-fade: color-mix(in srgb, var(--color-3-inverse) 80%, white 20%);
  --color-4: oklch(83% 0.04 220deg);
  --color-4-fade: color-mix(in srgb, var(--primary) 80%, white 20%);
  --color-4-inverse-fade: color-mix(in srgb, var(--primary) 80%, white 20%);
  --color-4-inverse: oklch(27% 0.09 254.40deg);
  --color-5: oklch(84% 0.14 85.21deg);
  --color-5-fade: color-mix(in srgb, var(--primary) 80%, white 20%);
  --color-5-inverse-fade: color-mix(in srgb, var(--color-5-inverse) 90%, white 10%);
  --color-5-inverse: oklch(27% 0.09 254.40deg);
  --color-6-fade: color-mix(in srgb, var(--color-6) 80%, white 20%);
  --color-6-inverse-fade: color-mix(in srgb, var(--color-6-inverse) 80%, white 20%);
  --color-6-inverse: oklch(27% 0.09 254.40deg);
  --color-6: oklch(66% 0.18 45deg);
  --color-7-fade: color-mix(in srgb, var(--color-7) 85%, black 15%);
  --color-7-inverse-fade: color-mix(in srgb, var(--color-4-inverse) 85%, black 15%);
  --color-7-inverse: oklch(83% 0.04 220deg);
  --color-7: oklch(55.% 0.21 32deg);
  --color-8: oklch(45% 0.14 340deg);
  --color-8-fade: color-mix(in srgb, var(--color-8) 80%, white 20%);
  --color-8-inverse-fade: color-mix(in srgb, var(--color-8-inverse) 80%, white 20%);
  --color-8-inverse: oklch(78% 0.11 195.12deg);
  --color-9: oklch(96% 0.01 210deg);
  --color-9-fade: color-mix(in srgb, var(--color-9) 80%, white 20%);
  --color-9-inverse-fade: color-mix(in srgb, var(--color-9-inverse) 80%, white 20%);
  --color-9-inverse: oklch(27% 0.09 254.40deg);
  /* Sidebar */
  --sidebar: oklch(96% 0 0deg);
  --sidebar-foreground: oklch(27% 0.09 254.40deg);
  --sidebar-primary: oklch(27% 0.09 254.40deg);
  --sidebar-primary-foreground: oklch(83% 0.04 220deg);
  --sidebar-accent: oklch(65% 0.12 219.43deg);
  --sidebar-accent-foreground: oklch(84% 0.14 85deg);
  --sidebar-border: oklch(96% 0 0deg);
  --sidebar-ring: oklch(78% 0.11 195.12deg);
  /* Shadows */
  --shadow-2xs: 4px 4px 0px 0px oklch(34% 0.09 258.52deg / 50%);
  --shadow-xs: 4px 4px 0px 0px oklch(34% 0.09 258.52deg / 50%);
  --shadow-sm: 4px 4px 0px 0px oklch(34% 0.09 258.52deg / 100%), 4px 1px 2px -1px oklch(34% 0.09 258.52deg / 100%);
  --shadow: 4px 4px 0px 0px oklch(34% 0.09 258.52deg / 100%), 4px 1px 2px -1px oklch(34% 0.09 258.52deg / 100%);
  --shadow-md: 4px 4px 0px 0px oklch(34% 0.09 258.52deg / 100%), 4px 2px 4px -1px oklch(34% 0.09 258.52deg / 100%);
  --shadow-lg: 4px 4px 0px 0px oklch(34% 0.09 258.52deg / 100%), 4px 4px 6px -1px oklch(34% 0.09 258.52deg / 100%);
  --shadow-xl: 4px 4px 0px 0px oklch(34% 0.09 258.52deg / 100%), 4px 8px 10px -1px oklch(34% 0.09 258.52deg / 100%);
  --shadow-2xl: 4px 4px 0px 0px oklch(34% 0.09 258.52deg / 250%);
  /* Radius */
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

.dark {
  --font-sans: var(--font-funnel), ui-sans-serif, system-ui;
  --font-display: var(--font-khand), sans-serif;
  --font-serif: 'Funnel Sans', sans-serif;
  --font-mono: 'Fira Code', monospace;
  --background: oklch(27% 0.09 254.40deg);
  --foreground: oklch(98% 0 0deg);
  --card: oklch(27% 0.09 254.40deg);
  --card-foreground: oklch(100% 0.0001 271.152deg);
  --popover: oklch(98% 0 0deg);
  --popover-foreground: oklch(27% 0.09 254.40deg);
  --primary: oklch(98% 0 0deg);
  --primary-foreground: oklch(27% 0.09 254.40deg);
  --secondary: oklch(78% 0.11 195.12deg);
  --secondary-foreground: oklch(84% 0.14 85.21deg);
  --muted: oklch(26.721% 0.0919 256.209deg / 69.6%);
  --muted-foreground: oklch(84% 0.14 85.21deg);
  --accent: oklch(78% 0.11 195.12deg);
  --accent-foreground: oklch(1% 0 0deg);
  --border: oklch(96% 0.01 210deg);
  --input: oklch(96% 0.01 210deg);
  /* Charts */
  --chart-1: oklch(52% 0.10 230.09deg);
  --chart-2: oklch(65% 0.12 219.43deg);
  --chart-3: oklch(78% 0.11 195.12deg);
  --chart-4: oklch(83% 0.04 220deg);
  --chart-5: oklch(84% 0.14 85.21deg);
  --chart-6: oklch(66% 0.18 44.85deg);
  --chart-7: oklch(55% 0.21 32deg);
  --chart-8: oklch(45% 0.14 340deg);
  /* States */
  --destructive: oklch(55% 0.21 31.81deg);
  --destructive-foreground: oklch(83% 0.04 220deg);
  --info: oklch(83% 0.04 220deg);
  --info-foreground: oklch(27% 0.09 254.40deg);
  --success: oklch(65% 0.12 219.43deg);
  --success-foreground: oklch(84% 0.14 85deg);
  --warning: oklch(55% 0.21 31.81deg);
  --warning-foreground: oklch(84% 0.14 85deg);
  --ring: oklch(78% 0.11 195.12deg);
  /* Sidebar */
  --primary-inverse: oklch(83% 0.04 220deg);
  --color-1: oklch(52% 0.10 230.09deg);
  --color-1-fade: color-mix(in srgb, var(--color-1) 80%, white 20%);
  --color-1-inverse-fade: color-mix(in srgb, var(--color-1-inverse) 90%, black 10%);
  --color-1-inverse: #eff5f6;
  --color-2: oklch(78% 0.11 195.12deg);
  --color-2-fade: color-mix(in srgb, var(--color-2) 80%, white 20%);
  --color-2-inverse: oklch(84% 0.14 85.21deg);
  --color-2-inverse-fade: color-mix(in srgb, var(--color-2-inverse) 80%, white 20%);
  --color-3: oklch(78% 0.11 195.12deg);
  --color-3-fade: color-mix(in srgb, var(--color-3) 80%, white 20%);
  --color-3-inverse: oklch(45% 0.14 340deg);
  --color-3-inverse-fade: color-mix(in srgb, var(--color-3-inverse) 80%, white 20%);
  --color-4: oklch(83% 0.04 220deg);
  --color-4-fade: color-mix(in srgb, var(--primary) 80%, white 20%);
  --color-4-inverse-fade: color-mix(in srgb, var(--primary) 80%, white 20%);
  --color-4-inverse: oklch(27% 0.09 254.40deg);
  --color-5: oklch(84% 0.14 85.21deg);
  --color-5-fade: color-mix(in srgb, var(--primary) 80%, white 20%);
  --color-5-inverse-fade: color-mix(in srgb, var(--color-5-inverse) 90%, white 10%);
  --color-5-inverse: oklch(27% 0.09 254.40deg);
  --color-6-fade: color-mix(in srgb, var(--color-6) 80%, white 20%);
  --color-6-inverse-fade: color-mix(in srgb, var(--color-6-inverse) 80%, white 20%);
  --color-6-inverse: oklch(27% 0.09 254.40deg);
  --color-6: oklch(66% 0.18 45deg);
  --color-7-fade: color-mix(in srgb, var(--color-7) 85%, black 15%);
  --color-7-inverse-fade: color-mix(in srgb, var(--color-4-inverse) 85%, black 15%);
  --color-7-inverse: oklch(83% 0.04 220deg);
  --color-7: oklch(55.% 0.21 32deg);
  --color-8: oklch(45% 0.14 340deg);
  --color-8-fade: color-mix(in srgb, var(--color-8) 80%, white 20%);
  --color-8-inverse-fade: color-mix(in srgb, var(--color-8-inverse) 80%, white 20%);
  --color-8-inverse: oklch(78% 0.11 195.12deg);
  --color-9: oklch(96% 0.01 210deg);
  --color-9-fade: color-mix(in srgb, var(--color-9) 80%, white 20%);
  --color-9-inverse-fade: color-mix(in srgb, var(--color-9-inverse) 80%, white 20%);
  --color-9-inverse: oklch(27% 0.09 254.40deg);
  /* Sidebar */
  --sidebar: oklch(100% 0 0deg);
  --sidebar-foreground: oklch(27% 0.09 254.40deg);
  --sidebar-primary: oklch(27% 0.09 254.40deg);
  --sidebar-primary-foreground: oklch(83% 0.04 220deg);
  --sidebar-accent: oklch(64% 0.14 215deg);
  --sidebar-accent-foreground: oklch(84% 0.14 85deg);
  --sidebar-border: oklch(100% 0 0deg);
  --sidebar-ring: oklch(78% 0.11 195.12deg);
  /* Shadows */
  --shadow-2xs: 0 1px 3px 0px oklch(0% 0 0deg / 5%);
  --shadow-xs: 0 1px 3px 0px oklch(0% 0 0deg / 5%);
  --shadow-sm: 0 1px 3px 0px oklch(0% 0 0deg / 10%), 0 1px 2px -1px oklch(0% 0 0deg / 10%);
  --shadow: 0 1px 3px 0px oklch(0% 0 0deg / 10%), 0 1px 2px -1px oklch(0% 0 0deg / 10%);
  --shadow-md: 0 1px 3px 0px oklch(0% 0 0deg / 10%), 0 2px 4px -1px oklch(0% 0 0deg / 10%);
  --shadow-lg: 0 1px 3px 0px oklch(0% 0 0deg / 10%), 0 4px 6px -1px oklch(0% 0 0deg / 10%);
  --shadow-xl: 0 1px 3px 0px oklch(0% 0 0deg / 10%), 0 8px 10px -1px oklch(0% 0 0deg / 10%);
  --shadow-2xl: 0 1px 3px 0px oklch(0% 0 0deg / 25%);
  /* Radius */
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

@theme inline {
  --font-sans: var(--font-funnel), ui-sans-serif, system-ui;
  --font-display: var(--font-khand), sans-serif;
  --font-mono: 'Fira Code', monospace;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-chart-6: var(--chart-6);
  --color-chart-7: var(--chart-7);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  /* Computed Shadow Variants */
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  /* Radius */
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  /* Letter Spacing */
  --tracking-tighter: calc(var(--letter-spacing) - 0.05em);
  --tracking-tight: calc(var(--letter-spacing) - 0.025em);
  --tracking-normal: var(--letter-spacing);
  --tracking-wide: calc(var(--letter-spacing) + 0.025em);
  --tracking-wider: calc(var(--letter-spacing) + 0.05em);
  --tracking-widest: calc(var(--letter-spacing) + 0.1em);
  --animate-rainbow: rainbow var(--speed, 2s) infinite linear;
  --animate-heartbeat: heartbeat 2s infinite ease-in-out;
  --color-destructive-foreground: var(--destructive-foreground);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning: var(--warning);
  --color-success-foreground: var(--success-foreground);
  --color-success: var(--success);
  --color-info-foreground: var(--info-foreground);
  --color-info: var(--info);
}

@keyframes rainbow {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 200%;
  }
}

@keyframes heartbeat {
  0% {
    box-shadow: 0 0 0 0 var(--heartbeat-color, var(--destructive));
    transform: scale(1);
  }

  50% {
    box-shadow: 0 0 0 7px transparent;
    transform: scale(1.05);
  }

  100% {
    box-shadow: 0 0 0 0 transparent;
    transform: scale(1);
  }
}

body {
  letter-spacing: var(--letter-spacing);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }

  pre {
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--border);
      border-radius: 5px;
    }

    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }
}

@layer components {
  .card.shadow-primary {
    align-items: center;
    justify-content: center;
    box-shadow: .5px .5px 0 var(--primary), 1px 1px 0 var(--primary), 1.5px 1.5px 0 var(--primary), 2px 2px 0 var(--primary), 2.5px 2.5px 0 var(--primary), 3px 3px 0 var(--primary), 3.5px 3.5px 0 var(--primary), 4px 4px 0 var(--primary), 4.5px 4.5px 0 var(--primary), 5px 5px 0 var(--primary), 5.5px 5.5px 0 var(--primary)
  }

  .card.shadow-color-3 {
    align-items: center;
    justify-content: center;
    box-shadow: .5px .5px 0 var(--color-3), 1px 1px 0 var(--color-3), 1.5px 1.5px 0 var(--color-3), 2px 2px 0 var(--color-3), 2.5px 2.5px 0 var(--color-3), 3px 3px 0 var(--color-3), 3.5px 3.5px 0 var(--color-3), 4px 4px 0 var(--color-3), 4.5px 4.5px 0 var(--color-3), 5px 5px 0 var(--color-3), 5.5px 5.5px 0 var(--color-3)
  }

  .card.is-color-1 {
    background-color: var(--color-1);
    border-color: var(--color-1);
    color: var(--color-1-inverse);
    box-shadow: .5px .5px 0 var(--color-1-inverse), 1px 1px 0 var(--color-1-inverse), 1.5px 1.5px 0 var(--color-1-inverse), 2px 2px 0 var(--color-1-inverse), 2.5px 2.5px 0 var(--color-1-inverse), 3px 3px 0 var(--color-1-inverse), 3.5px 3.5px 0 var(--color-2-inverse), 4px 4px 0 var(--color-1-inverse), 4.5px 4.5px 0 var(--color-2-inverse), 5px 5px 0 var(--color-1-inverse), 5.5px 5.5px 0 var(--color-1-inverse)
  }

  .card.is-color-6 {
    background-color: var(--color-6);
    border-color: var(--color-6);
    color: var(--color-6-inverse);
    box-shadow: .5px .5px 0 var(--color-6-inverse), 1px 1px 0 var(--color-6-inverse), 1.5px 1.5px 0 var(--color-6-inverse), 2px 2px 0 var(--color-6-inverse), 2.5px 2.5px 0 var(--color-6-inverse), 3px 3px 0 var(--color-6-inverse), 3.5px 3.5px 0 var(--color-6-inverse), 4px 4px 0 var(--color-6-inverse), 4.5px 4.5px 0 var(--color-6-inverse), 5px 5px 0 var(--color-6-inverse), 5.5px 5.5px 0 var(--color-6-inverse)
  }

  .card.is-color-7 {
    background-color: var(--color-7);
    border-color: var(--color-7);
    color: var(--color-7-inverse);
    box-shadow: .5px .5px 0 var(--color-7-inverse), 1px 1px 0 var(--color-7-inverse), 1.5px 1.5px 0 var(--color-7-inverse), 2px 2px 0 var(--color-7-inverse), 2.5px 2.5px 0 var(--color-7-inverse), 3px 3px 0 var(--color-7-inverse), 3.5px 3.5px 0 var(--color-7-inverse), 4px 4px 0 var(--color-7-inverse), 4.5px 4.5px 0 var(--color-7-inverse), 5px 5px 0 var(--color-7-inverse), 5.5px 5.5px 0 var(--color-7-inverse)
  }

  .card.is-color-8 {
    background-color: var(--color-8);
    border-color: var(--color-8);
    color: var(--color-8-inverse);
    box-shadow: .5px .5px 0 var(--color-8-inverse), 1px 1px 0 var(--color-8-inverse), 1.5px 1.5px 0 var(--color-8-inverse), 2px 2px 0 var(--color-8-inverse), 2.5px 2.5px 0 var(--color-8-inverse), 3px 3px 0 var(--color-8-inverse), 3.5px 3.5px 0 var(--color-8-inverse), 4px 4px 0 var(--color-8-inverse), 4.5px 4.5px 0 var(--color-8-inverse), 5px 5px 0 var(--color-8-inverse), 5.5px 5.5px 0 var(--color-8-inverse)
  }

  .card.is-color-9 {
    background-color: var(--color-9);
    border-color: var(--color-9);
    color: var(--color-9-inverse);
    box-shadow: .5px .5px 0 var(--color-9-inverse), 1px 1px 0 var(--color-9-inverse), 1.5px 1.5px 0 var(--color-9-inverse), 2px 2px 0 var(--color-9-inverse), 2.5px 2.5px 0 var(--color-9-inverse), 3px 3px 0 var(--color-9-inverse), 3.5px 3.5px 0 var(--color-9-inverse), 4px 4px 0 var(--color-9-inverse), 4.5px 4.5px 0 var(--color-9-inverse), 5px 5px 0 var(--color-9-inverse), 5.5px 5.5px 0 var(--color-9-inverse)
  }

  .bg-color-primary {
    background-color: var(--primary);
    border-color: var(--primary)
  }

  .bg-color-1 {
    background-color: var(--color-1);
    border-color: var(--color-1)
  }

  .bg-color-2 {
    background-color: var(--color-2);
    border-color: var(--color-2)
  }

  .bg-color-3 {
    background-color: var(--color-3);
    border-color: var(--color-3)
  }

  .bg-color-4 {
    background-color: var(--color-4);
    border-color: var(--color-4)
  }

  .bg-color-5 {
    background-color: var(--color-5);
    border-color: var(--color-5)
  }

  .bg-color-6 {
    background-color: var(--color-6);
    border-color: var(--color-6)
  }

  .bg-color-7 {
    background-color: var(--color-7);
    border-color: var(--color-7)
  }

  .bg-color-8 {
    background-color: var(--color-8);
    border-color: var(--color-8)
  }

  .bg-color-9 {
    background-color: var(--color-9);
    border-color: var(--color-9)
  }

  .tag {
    align-self: center;
    flex: 0 0 auto;
    font-family: var(--font-display);
    font-size: .95rem;
    font-weight: 700;
    letter-spacing: .025em;
    line-height: 1;
    padding: .25em .5em .35em;
    text-transform: uppercase
  }

  .is-outline {
    border-style: solid;
    border-width: 3px
  }

  .tag.is-color-primary {
    background-color: var(--primary-inverse);
    border-color: var(--primary);
    border-width: 4px solid var(--primary)
  }

  .tag.bg-color-primary.is-outline {
    cursor: auto;
    pointer-events: auto
  }

  .tag.is-color-1 {
    background-color: var(--color-1);
    border: 4px solid var(--color-1);
    color: var(--color-1-inverse);
    text-overflow: clip
  }

  .tag.is-color-1.is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    cursor: auto
  }

  .is-color-2,
  .tag.is-color-2 {
    background-color: var(--color-2);
    border: 4px solid var(--color-2);
    color: var(--color-2-inverse)
  }

  .is-color-2.is-outline,
  .tag.is-color-2 .is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
  }

  .is-color-3,
  .tag.is-color-3 {
    background-color: var(--color-3);
    border: 4px solid var(--color-3);
    color: var(--color-3-inverse)
  }

  .tag.is-color-3.is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
  }

  .tag.is-color-4 {
    background-color: var(--color-4);
    border-width: 4px solid var(--color-4);
    color: var(--color-4-inverse)
  }

  .tag.is-color-4.is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
  }

  .tag.is-color-5 {
    background-color: var(--color-5);
    border: 4px solid var(--color-5);
    color: var(--color-5-inverse)
  }

  .tag.is-color-5.is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
  }

  .tag.is-color-6 {
    background-color: var(--color-6);
    border: 4px solid var(--color-6);
    color: var(--color-6-inverse)
  }

  .tag.is-color-6.is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
  }

  .tag.is-color-7 {
    background-color: var(--color-7);
    border: 4px solid var(--color-7);
    color: var(--color-7-inverse)
  }

  .tag.is-color-7.is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
  }

  .tag.is-color-8 {
    background-color: var(--color-8);
    border: 4px solid var(--color-8);
    color: var(--color-8-inverse)
  }

  .tag.is-color-8.is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
  }

  .tag.is-color-9 {
    background-color: var(--color-9);
    border: 4px solid var(--color-9);
    color: var(--color-9-inverse)
  }

  .tag.is-color-9.is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
  }
}

.jsx-text {
  color: var(--primary) !important;
}

.jsx-tag-angle-bracket {
  color: var(--secondary) !important;
}

.jsx-tag-name {
  color:  var(--color-7) !important;
}

.jsx-tag-attribute-key {
  color:  var(--color-8) !important;
}

.jsx-expression-braces {
  color: var(--color-8) !important;
}

.dark .jsx-text {
  color: var(--color-8) !important;
}

.dark .jsx-tag-angle-bracket {
  color: #79797f !important;
}

.dark .jsx-tag-name {
  color:  var(--color-7) !important;
}

.dark .jsx-tag-attribute-key {
  color:  var(--color-8) !important;
}

.dark .jsx-expression-braces {
  color:  var(--color-8) !important;
}
